.content {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

#card {
  border-radius: 4px;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.orange{
  background-color: orangered;
}
.green{
  background-color: limegreen;
}

.blue{
  background-color: dodgerblue;
}

.yellow {
  background-color: yellow;
}